button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;

  cursor: pointer;
  border: none;
  transition: background-color .2s, color .2s;
}

button svg {
  width: 1rem;
  height: 1rem;
}

.create-button {
  background: var(--blue-500);
  border-radius: 8px;
  padding: 1rem;
}

.create-button:hover {
  background: var(--blue-300);
}

.delete-button {
  background-color: transparent;
  border-radius: 4px;
  padding: .5rem;
}

.delete-button:hover {
  background-color: var(--gray-400);
  color: var(--red-500);
}